.container__sectionSobre {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}
